$background : #f1e9d2
$font-colour : #1e1e1e

html, body
    font-family: helvetica
    background-color: $background
    color: $font-colour

.tag
    background-color: grey
    margin: 2px

#tag-box
    float-left

#app
    display: flex
    justify-content: center

#filters
    margin-bottom: 1em
    label
        padding-right: 1em
    input, select
        margin-left: 5px

.horizontal-split
    display: flex

.no-style
    list-style-type: none

.box
    background-color: #708dad

.margin-right
    margin-right: 3em

#container
    padding: 2em
    padding-top: 3px
    min-width: 50%

.link
    margin: 6px
    padding: 3px
    color: inherit
    display: block
    text-decoration: none
    background-color: #99b9dd
    h2
        color: inherit
        margin-top: 2px
        margin-bottom: 2px

    &:hover
        background-color: #7989ad

